*.Rout
.local
lib
*.aux
*.log
*.pdf
*.fdb_latexmk
*.synctex.gz
*-concordance.tex
*.nav
*.out
*.snm
*.toc
*.vrb
*.db
*.db.yaml
*.swp
*\#*
*.pid
*.fls
*.bak
*-wmn.pdf

# biblatex stuff
*.bbl
*.blg

# specific files and directories
.Rproj.user
announcement-of-the-day.tex
2014
2015
BIB
units  #use this as a link to current-year directory's subfolder for slides, handouts etc
data/lawnsigns
# tex files derived from tracked Rnw sources
unit01-Rex.tex
unit01-fishercombs.tex
