*.Rhistory
*.Rout
.local
lib
*.aux
*.log
*.pdf
*.fdb_latexmk
*.synctex.gz
*-concordance.tex
*.nav
*.out
*.snm
*.toc
*.vrb
*.db
*.db.yaml
*.swp
*\#*
*.pid
*.fls
*.bak
*-wmn.pdf
*.rda
*.run.xml
*cache/
*figure/

# biblatex stuff
*.bbl
*.blg
*.brf

# specific files and directories
.Rproj.user
announcement-of-the-day.tex
2014
2015
BIB
units  #use this as a link to current-year directory's subfolder for slides, handouts etc
data/lawnsigns
# tex files derived from tracked Rnw and Rmd sources
*-Rex.tex
unit01-fishercombs.tex
day[0-9]*.tex
