*.Rout
.local
*.aux
*.log
./*.pdf
*.fdb_latexmk
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.db
*.db.yaml
*.swp
*\#*
*.pid
*.fls
*.bak
*-wmn.pdf
./announcement-of-the-day.tex
./2014
./2015
./BIB

# biblatex stuff
*.bbl
*.blg

